@media all and (max-width: 449px) {
    html {
        height: 100%; /*Indispensable pour que les blocs fils et petit-fils puissent profiter d'un overflow-y*/
        font-family: sans-serif;
      }
    body {
        height: 100%; /*Indispensable pour que les blocs fils et petit-fils puissent profiter d'un overflow-y*/
        overflow: hidden;
        margin: 0px;
        display: flex;
        flex-direction: column;
        overflow-anchor: none;
      }
  
  
    main {
        display: flex;
        flex-direction: row;
        height: 100%; /*Indispensable pour que les blocs fils et petit-fils puissent profiter d'un overflow-y*/
      }
  
    .le-header {
        /* min-height: 50px; */
        background-color: #333;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* padding-bottom: 10px; */
    }

    .le-burger {
        /*  */
    }
  
    .le-accueil {
        display: none;
    }
  
    .le-menu {
        display: none;
    }
  
    .le-profil-manager {
        display: none;
        
    }
  
    .le-general-navigation {
        display: none; 
      }
  
    .le-workspace {
        overflow-y: auto;
        margin-bottom: 60px; /*compense le header à 60px*/
        flex: 1 1 auto;
    }
  
    .le-page-navigation {
       display: none;
    }
  }